.button {
  white-space: nowrap;
  display: inline-block;
  padding: 0.625rem 0.875rem;
  background: $primary;
  border-radius: $border-radius;
  font-size: 1rem;
  font-weight: normal;
  color: $white;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  &:hover {
    color: $white;
    background-color: lighten($primary, 10%);
    transform: translateY(-1px);
    text-decoration: none;
  }
  &.button-secondary {
    background-color: $gray-700;
    &:hover {
      background-color: lighten($gray-700, 10%);
    }
  }

  &.button-download {
    min-width: 111px;
    text-align: center;
  }
}

.button-large {
  padding: 15px 40px;
  font-size: 1.5rem;
  font-weight: 300;
}