.header {
  background-color: $green3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 0px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &.header-absolute {
    position: absolute;
    z-index: 10;
    width: 100%;
  }
}
.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}
