.intro {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  min-height: calc(100vh - 60px);
  @include media-breakpoint-up(md) {
    text-align: initial;
  }
  h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    @include media-breakpoint-up(md) {
      font-size: 48px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 56px;
    }
  }
  h2 {
    font-size: 1.2rem;
    line-height: 1.4;
    margin-bottom: 30px;
    font-family: $font-family-base;
  }
  .tagline p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color: $gray-500;
    @include media-breakpoint-up(md) {
      font-size: 20px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 24px;
    }
  }
  .name {
    color: transparent;
  }
  .clip {
    animation: title-gradient 5s ease infinite;
    background-size: 400% 400%;
    background-image: linear-gradient(-45deg, $green7, $green4, $green7, $green5, $green4, $green5, $green7, $green4);
    -webkit-background-clip: text;
    background-clip: text;
  }
  @keyframes title-gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    to {
      background-position: 0% 50%;
    }
  }
}
