.logo {
  display: none;
  @include media-breakpoint-up(sm) {
    display: block;
  }
  img {
    max-width: unset;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
    &::after {
      content: "Stockfish";
      color: $black;
      margin-left: 4px;
      font-family: $font-family-heading;
      font-size: 24px;
      font-weight: 700;
      vertical-align: middle;
    }
  }
}
.logo-mobile {
  display: block;
  width: 40px;
  padding: 10px 0 10px 0;
  @include media-breakpoint-up(sm) {
    display: none;
  }
  img {
    width: 100%;
    height: auto;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}
