<div class="download-item py-1 border-bottom d-flex align-items-center">
    <div class="flex-grow-1 mr-1">
        <span>🐟</span>
        <strong>Stockfish Chess</strong>
        <div class="text-muted">Recommended macOS App (<a href="https://github.com/daylen/stockfish-mac" target="_blank">GitHub</a>)</div>
    </div>
    <a href="https://apps.apple.com/us/app/stockfish-chess/id801463932" target="_blank" class="rounded button button-download">App Store</a>
</div>
<div class="download-item py-1 border-bottom d-flex align-items-center">
    <div class="flex-grow-1 mr-1">
        <span>🍺</span>
        <strong>Homebrew</strong>
        <div class="text-muted">Install via Terminal: <code>brew install stockfish</code></div>
    </div>
    <a href="https://formulae.brew.sh/formula/stockfish" target="_blank" class="rounded button button-download">Homebrew</a>
</div>
