{{ $os := .Get 0 }}
{{ $files := dict }}

{{ with resources.Get $os }}
  {{ $files = . | transform.Unmarshal }}
{{ else }}
  {{ errorf "Unable to get resource %q" $os }}
{{ end }}

{{ $baseDownloadLink := "https://github.com/official-stockfish/Stockfish/releases/latest/download/" }}

<table>
    <thead>
        <tr>
            <th>Instruction set / CPU</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{ range $files.files }}
        <tr>
            <td><b>{{ .arch }}</b>{{ if .wiki_url }}: recommended <a href="{{ .wiki_url }}">for these CPUs</a>{{ end }}</td>
            <td><a href="{{ $baseDownloadLink }}{{ .file }}" class="radius success button">Download</a></td>
        </tr>
        {{ end }}
    </tbody>
</table>